.audioplayer {
    height: 60px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    border: 0;
    position: relative;
    z-index: 1;
    background: #333;
}

.other-audio .audioplayer {
    height: 60px; /* 40 */
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    position: relative;
    z-index: 1;
    background: #232323;
    border-top: #2e2e2e 1px solid;
    border-bottom: #272727 1px solid;
}

.audioplayer-mini {
    width: 2.5em; /* 40 */
    margin: 0 auto;
}

.audioplayer > div {
    position: absolute;
}

.main-audio .audioplayer-playpause {
    width: 60px; /* 40 */
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
}

.other-audio .audioplayer-playpause {
    height:60px;
    width: 80px; /* 40 */
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
    border-right-color: rgba( 255, 255, 255, .1 );
}

.audioplayer-mini .audioplayer-playpause {
    width: 100%;
}

.main-audio .audioplayer-playpause {
    background-color: #3498db;
}

    .main-audio .audioplayer-playpause:hover,
    .main-audio .audioplayer-playpause:focus {
        background-color: #5dade2;
    }

.other-audio .audioplayer-playpause:hover,
.other-audio .audioplayer-playpause:focus {
    background-color: #3498db;
}

.other-audio .audioplayer-paused {
    background-color: #3498db;
}

    .other-audio .audioplayer-playing .audioplayer-playpause:hover,
    .other-audio .audioplayer-playing .audioplayer-playpause:focus,
    .other-audio .audioplayer-paused .audioplayer-playpause:hover,
    .other-audio .audioplayer-paused .audioplayer-playpause:focus {
        background-color: #5dade2;
    }

.other-audio .audioplayer-playing .audioplayer-playpause {
    background-color: #3498db;
}

.mobile-preview .other-audio .audioplayer-playpause,
.mobile-preview .other-audio .audioplayer-playpause {
    background-color: #3498db;
}


.audioplayer-playpause a {
    display: block;
}

.main-audio .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    background-image: url(../img/play.png);
    width: 60px;
    height: 60px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

.other-audio .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    background-image: url(../img/play.png);
    width: 80px;
    height: 60px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

.audioplayer-playing .audioplayer-playpause a {
    width: 0.75em; /* 12 */
    height: 0.75em; /* 12 */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.375em 0 0 -0.375em; /* 6 */
}

    .audioplayer-playing .audioplayer-playpause a:before,
    .audioplayer-playing .audioplayer-playpause a:after {
        width: 40%;
        height: 100%;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 0;
    }

    .audioplayer-playing .audioplayer-playpause a:before {
        left: 0;
    }

    .audioplayer-playing .audioplayer-playpause a:after {
        right: 0;
    }

.main-audio .audioplayer-time {
    height: 100%;
    line-height: 2.375em; /* 38 */
    z-index: 2;
    top: 0;
    display: none;
    width: 0;
}

.audioplayer-time {
    width: 4.375em; /* 70 */
    height: 100%;
    line-height: 2.375em; /* 38 */
    text-align: center;
    z-index: 2;
    top: 24%;
    color: #919191;
}

.audioplayer-time-current {
    left: 5.8em; /* 40 */
}

.mobile-preview .other-audio .audioplayer-time-current {
    display: none;
}

.audioplayer-time-duration {
    border-right: 1px solid #555;
    border-right-color: rgba( 255, 255, 255, .1 );
    right: -0.1em; /* 40 */
    display: none;
}

.audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0;
}

.main-audio .audioplayer-bar {
    height: 60px;
    background-color: #222;
    cursor: pointer;
    z-index: 1;
    top: 0%;
    right: 59px;
    left: 59px;
}

.mobile-preview .other-audio .audioplayer-bar {
}

.other-audio .audioplayer-bar {
    height: 59px;
    background-color: #222;
    cursor: pointer;
    z-index: 1;
    top: 0;
    right: -0.125em;
    left: 80px;
}

.audioplayer-novolume .audioplayer-bar {
    right: 4.375em; /* 70 */
}

.audioplayer-bar div {
    width: 0;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    font-size: 18px;
}

.audioplayer-bar-loaded {
    background-color: #232323;
    z-index: 3;
    background: transparent;
    padding-top: 20px;
    padding-left: 30px;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.other-audio .audioplayer-bar-loaded {
    background-color: #232323;
    z-index: 3;
    background: transparent;
    padding-top: 20px;
    padding-left: 175px;
}

.mobile-preview .other-audio .audioplayer-bar-loaded {
    padding-left:0;
    text-align:center;
    font-size: 14px;
    padding-top: 21px;
}

.mobile-preview .other-audio .audioplayer-bar {
    background-color: #34495e;
}

.audioplayer-bar-played {
    background: #28525b;
}

.main-audio .audioplayer-volume {
    width: 60px;
    height: 100%;
    border-left: 1px solid #111;
    border-left-color: rgba( 0, 0, 0, .25 );
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #313131;
}

.other-audio .audioplayer-volume {
    width: 60px;
    height: 100%;
    border-left: 1px solid #111;
    border-left-color: rgba( 0, 0, 0, .25 );
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #313131;
    display: none;
}

.audioplayer-volume:hover,
.audioplayer-volume:focus {
    background-color: #313131;
}

.audioplayer-volume-button {
    width: 100%;
    height: 100%;
}

    .audioplayer-volume-button a {
        width: 0.313em; /* 5 */
        height: 0.375em; /* 6 */
        background-color: #fff;
        display: block;
        position: relative;
        z-index: 1;
        top: 46%;
        left: 35%;
    }

        .audioplayer-volume-button a:before,
        .audioplayer-volume-button a:after {
            content: '';
            position: absolute;
        }

        .audioplayer-volume-button a:before {
            width: 0;
            height: 0;
            border: 0.5em solid transparent; /* 8 */
            border-left: none;
            border-right-color: #fff;
            z-index: 2;
            top: 50%;
            right: -0.25em;
            margin-top: -0.5em; /* 8 */
        }

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
    /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
    width: 0.313em; /* 5 */
    height: 0.313em; /* 5 */
    border: 0.25em double #fff; /* 4 */
    border-width: 0.25em 0.25em 0 0; /* 4 */
    left: 0.563em; /* 9 */
    top: -0.063em; /* 1 */
    -webkit-border-radius: 0 0.938em 0 0; /* 15 */
    -moz-border-radius: 0 0.938em 0 0; /* 15 */
    border-radius: 0 0.938em 0 0; /* 15 */
    -webkit-transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    -o-transform: rotate( 45deg );
    transform: rotate( 45deg );
}

.audioplayer-volume-adjust {
    height: 6.25em; /* 100 */
    cursor: default;
    position: absolute;
    left: 0;
    right: -1px;
    top: -9999px;
    background: #222;
    background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
    background: -webkit-linear-gradient( top, #444, #222 );
    background: -moz-linear-gradient( top, #444, #222 );
    background: -ms-radial-gradient( top, #444, #222 );
    background: -o-linear-gradient( top, #444, #222 );
    background: linear-gradient( top, #444, #222 );
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
    opacity: 0;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
    top: auto;
    bottom: 100%;
    min-height: 213px;
}

.audioplayer-volume-adjust > div {
    width: 40%;
    height: 80%;
    background-color: #3c5155;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 30% auto 0;
}

.audioplayer-volume-adjust div div {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5dade2;
}

.audioplayer-novolume .audioplayer-volume {
    display: none;
}

.audioplayer-play,
.audioplayer-pause,
.audioplayer-volume a {
    -webkit-filter: drop-shadow( 1px 1px 0 #000 );
    -moz-filter: drop-shadow( 1px 1px 0 #000 );
    -ms-filter: drop-shadow( 1px 1px 0 #000 );
    -o-filter: drop-shadow( 1px 1px 0 #000 );
    filter: drop-shadow( 1px 1px 0 #000 );
}

.audioplayer-volume-adjust > div {
    -webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
    -moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
    box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
}

.audioplayer-volume-adjust div div,
.audioplayer-bar-played {
    -webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
    -moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
    box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
}

.audioplayer-volume-adjust {
    -webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
    -moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
    box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
}

.audioplayer *,
.audioplayer *:before,
.audioplayer *:after {
    -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}

.otherAudio .audioplayer-bar-loaded {
	padding-left: 70px !important;
}